:root {
	--background: #efeef3;

	--head-background: #f4f4f4;

	--mini-background: #ffffff;
	--main-text: #333;
	--second-text: #8b8b8b;

	--nav-text: #959595;

	--create-course-button: #e0efff;

	--active-color: #007aff;
	--active-text: #ffffff;

	--stars-background: #e0efff;
	--stars-text: #ffaf40;

	--profile-line: #f1f5f9;

	--border-color: #bab9be;

	--overlay: rgba(0, 0, 0, 0.15);

	--draft: #000000;
	--moderation: #e2d437;
	--ready: #2fd159;
}

[data-theme='dark'] {
	--background: #0f0f0f;

	--head-background: #212121;

	--mini-background: #212121;
	--main-text: #fbfbfb;
	--second-text: #aaa;

	--nav-text: #959595;

	--create-course-button: #e0efff;

	--active-color: #007aff;
	--active-text: #fbfbfb;

	--stars-background: #e0efff;
	--stars-text: #ffaf40;

	--profile-line: #202020;

	--border-color: #aaa;

	--overlay: rgba(255, 255, 255, 0.15);

	--draft: #ffffff;
	--moderation: #e2d437;
	--ready: #2fd159;
}
