.bio_billet {
	width: calc(100% - 56px);
	height: 48px;
	background-color: #161616;
	background-image: url('../../shared/assets/profile/text2.svg');
	background-position: 12px;
	background-repeat: no-repeat;
	border-radius: 24px;
	text-align: center;
	line-height: 44px;
	font-size: 14px;
	font-weight: 400;
}

.univ_billet {
	width: calc(100% - 56px);
	height: 48px;
	background-color: #161616;
	background-image: url('../../shared/assets/profile/nb2.svg');
	background-position: 12px;
	background-repeat: no-repeat;
	border-radius: 24px;
	text-align: center;
	line-height: 44px;
	font-size: 14px;
	font-weight: 400;
}

.ccourse_billet {
	width: calc(100% - 56px);
	height: 48px;
	background-color: #161616;
	background-image: url('../../shared/assets/profile/chart2.svg');
	background-position: 12px;
	background-repeat: no-repeat;
	border-radius: 24px;
	text-align: center;
	line-height: 44px;
	font-size: 14px;
	font-weight: 400;
}

.subj_billet {
	width: calc(100% - 56px);
	height: 48px;
	background-color: #161616;
	background-image: url('../../shared/assets/profile/hash2.svg');
	background-position: 12px;
	background-repeat: no-repeat;
	border-radius: 24px;
	text-align: center;
	line-height: 44px;
	font-size: 14px;
	font-weight: 400;
}

.bio_text {
	width: calc(100% - 32px);
	min-height: 104px;
	background-color: #161616;
	border: none;
	border-radius: 16px;
	outline: none;
	font-size: 14px;
	font-weight: 300;
	color: white;
	line-break: auto;
	padding: 8px;
}

.billet_del {
	width: 93%;
	min-height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #161616;
	color: #fff;
	background-image: url('../../shared/assets/profile/minus.png');
	background-position: calc(100% - 16px);
	background-repeat: no-repeat;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.2px;
	padding-left: 8px;
	border-radius: 16px;
	margin-bottom: 8px;
}

.billet_del img {
	width: 32px;
	height: 32px;
}

.billet_del p {
	width: 80%;
	left: 8px;
}

.vars_box {
	width: 100%;
	max-height: 304px;
	height: auto;
	align-items: center;
	overflow-y: auto;
	background-color: black;
	border-radius: 16px;
	margin-bottom: 8px;
}
