.withdrawalPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 4.1vw;
  position: relative;
}

.title {
  color: var(--main-text);
  font-family: "Geologica";
  font-size: 4.62vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.01vw;
  width: 91.28vw;
  margin: 0 auto;
}

.form {
  display: flex;
  flex: 1 1;
  width: 91.28vw;
  margin: 0 auto;
  flex-direction: column;
  gap: 4.1vw;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 2.05vw;
}

.label {
  color: var(--second-text);
  font-family: "Geologica";
  font-size: 3.08vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  display: flex;
  padding: 2.56vw 2.05vw;
  align-items: center;
  align-self: stretch;
  border-radius: 1.54vw;
  background: var(--mini-background);
  color: var(--main-text);
  font-family: "Geologica";
  font-size: 3.59vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--second-text);
}

.commission {
  color: #f3734e;
  font-family: "Geologica";
  font-size: 2.56vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.balanceSection {
  display: flex;
  flex-direction: column;
  gap: 2.05vw;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 9.74vw;
  display: flex;
  width: 91.28vw;
  padding: 2.56vw;
  justify-content: center;
  align-items: center;
  gap: 2.56vw;
  border-radius: 1.54vw;
  background: var(---, #f3734e);
  color: var(---, #fff);
  font-family: "Geologica";
  font-size: 3.59vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
}
