.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.974vw;
  padding-bottom: 6.282vw;
}

.edit-profile__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.026vw;
}

.edit-profile__title {
  color: var(--main-text);
  font-family: "Geologica";
  font-size: 3.59vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.edit-profile__avatar {
  margin-top: 4.103vw;
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.edit-profile__name {
  color: var(--main-text);
  font-family: "Geologica";
  font-size: 4.615vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.edit-profile__sections {
  display: flex;
  width: 91.282vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.103vw;
  padding-bottom: 4.103vw;
}

.edit-profile__section {
  display: flex;
  width: 91.026vw;
  flex-direction: column;
  gap: 1.282vw;
}

.edit-profile__subtitle {
  color: var(--second-text);
  font-family: "Geologica";
  font-size: 3.077vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.edit-profile__all-subjects {
  display: flex;
  width: 91.795vw;
  flex-direction: column;
  border-radius: 3.077vw;
  background: var(--mini-background);
  box-shadow: 0vw 0vw 0.513vw 0.256vw rgba(0, 0, 0, 0.02),
    0vw 8.205vw 16.41vw 0vw rgba(0, 0, 0, 0.04);
}

.edit-profile__ubject-variant {
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 4.103vw;
  align-items: center;
  justify-content: space-between;
}

.edit-profile__ubject-variant-text {
  color: var(--main-text);
  font-family: "Geologica";
  font-size: 4.359vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.edit-profile__ubject-variant-img {
  width: 5.128vw;
  height: 5.128vw;
}

.edit-profile__exist-subject {
  display: flex;
  height: 9.231vw;
  padding: 2.051vw;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.538vw;
  background: var(--background);
  gap: 2.308vw;
}

.edit-profile__exist-subject-text {
  color: var(--main-text);
  font-family: "Geologica";
  font-size: 3.59vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 66.154vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-profile__exist-subject-img {
  width: 2.564vw;
  height: 2.564vw;
}

.edit-profile__exist-subject-button {
  background-color: initial;
  border: none;
  height: 2.564vw;
  outline: none;
  width: 2.564vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-profile__section-img {
  width: 7.949vw !important;
  height: 3.846vw !important;
}

.edit-course__all-subjects-divider {
  width: 82.302vw;
  height: 0.256vw;
  background-color: var(--background);
  margin: 0 auto;
}

.edit-profile__section-input {
  height: 30vw;
  resize: none;
}
