.wallet-balance-actions {
  display: flex;
  gap: 2.05vw;
}

.wallet-balance-actions__button {
  display: flex;
  align-items: center;
  background: var(--mini-background);
  gap: 1.03vw;
  padding: 2.56vw 2.05vw;
  border: none;
  border-radius: 1.54vw;
  color: var(--main-text);
  font-family: "Geologica";
  font-size: 3.59vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  flex: 1;
}

.wallet-balance-actions__button-icon {
  width: 4.1vw;
  height: 4.1vw;
  flex-shrink: 0;
}
