.sales {
	display: flex;
	height: 20.769vw;
	padding: 2.051vw 2.564vw;
	align-items: center;
	gap: 2.051vw;
	border-radius: 1.538vw;
	background: var(--mini-background);
	width: 44.615vw;
}

.sales__icon {
	display: flex;
	width: 11.795vw;
	height: 11.795vw;
	justify-content: center;
	align-items: center;
	border-radius: 49.145vw;
	background: var(--create-course-button);
}

.sales__icon-img {
	width: 6.88vw;
	height: 6.88vw;
}

.sales__content {
	display: flex;
	flex-direction: column;
	gap: 1.026vw;
}

.sales__title {
	color: var(--second-text);
	font-family: 'Geologica';
	font-size: 3.077vw;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.sales__count {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 4.615vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
