.subscription-card {
	display: flex;
	padding: 2.051vw 2.564vw;
	align-items: center;
	gap: 2.051vw;
	border-radius: 1.538vw;
	background: var(--mini-background);
}

.subscription-card__icon-wrapper {
	display: flex;
	width: 11.795vw;
	height: 11.795vw;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: var(--create-course-button);
}

.subscription-card__icon {
	width: 6.154vw;
	height: 6.154vw;
}

.subscription-card__info {
	display: flex;
	flex-direction: column;
	gap: 1.026vw;
}

.subscription-card__contacts-count {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subscription-card__price {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 3.077vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subscription-card__wrapper-stars {
	display: flex;
	align-items: center;
	gap: 1.026vw;
	align-self: stretch;
}

.subscription-card__star-icon {
	width: 4.103vw;
	height: 4.103vw;
}

.subscription-card__stars-price {
	color: #ffaf40;
	font-family: 'Geologica';
	font-size: 3.077vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
