.inputWithVariants {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	min-height: 12.308vw;
	padding: 2.564vw 9.23vw 2.564vw 2.051vw;
	width: 91.026vw;
	align-items: center;
	gap: 2.564vw;
	border-radius: 1.538vw;
	background: var(--mini-background);
}

.inputWithVariants__icon {
	position: absolute;
	right: 2.821vw;
	top: 3.59vw;
	width: 5.128vw;
	height: 5.128vw;
	transform: rotate(90deg);
}

.inputWithVariants__input {
	border: none;
	outline: none;
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background-color: transparent;
}

.inputWithVariants__icon-back {
	transform: rotate(270deg);
}
